config.*

.version
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*.pc

.deps
.libs

debian/.debhelper
debian/autoreconf.*
debian/libosmo-e1d*
debian/osmo-e1d
debian/*.log
debian/tmp

*.la
*.lo
*.o

src/osmo-e1d
src/osmo-e1d-pipe
src/osmo-e1gen
contrib/e1-prbs-test/e1-prbs-test
contrib/e1-prbs-test/ice40-e1-prbs-check
contrib/osmo-e1d.spec

Doxyfile
doc/manuals/build
doc/manuals/common
doc/manuals/*.pdf
doc/manuals/*.png
doc/*.tag
doc/html.tar
doc/e1d

tests/atconfig
tests/atlocal
tests/package.m4
tests/testsuite
tests/testsuite.log
tests/testsuite.dir
tests/*/*_test
