config.*

.version
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*.pc

.deps
.libs

debian/.debhelper
debian/autoreconf.*
debian/libosmo-e1d*
debian/osmo-e1d
debian/*.log
debian/tmp

*.la
*.lo
*.o

src/osmo-e1d
src/osmo-e1d-pipe
contrib/e1-prbs-test/e1-prbs-test
contrib/e1-prbs-test/ice40-e1-prbs-check
