config.*

.version
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*.pc

.deps
.libs

*.la
*.lo
*.o

src/osmo-e1d
contrib/e1-prbs-test/e1-prbs-test
contrib/e1-prbs-test/ice40-e1-prbs-check
