Source: osmo-e1d
Section: net
Priority: extra
Maintainer: Harald Welte <laforge@osmocom.org>
Build-Depends: debhelper (>=9),
               dh-autoreconf,
               autotools-dev,
               autoconf,
               automake,
               libtool,
               pkg-config,
               python3-minimal,
               libosmocore-dev (>= 1.8.0),
               libusb-1.0-0-dev,
               osmo-gsm-manuals-dev (>= 1.4.0)
Standards-Version: 3.9.8
Vcs-Git: https://gitea.osmocom.org/retronetworking/osmo-e1d
Vcs-Browser: https://gitea.osmocom.org/retronetworking/osmo-e1d
Homepage: https://projects.osmocom.org/projects/osmo-e1d

Package: osmo-e1d
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: osmo-e1d: Osmocom's E1 interface daemon

Package: libosmo-e1d1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Client library for talking to the Osmocom E1 interface daemon osmo-e1d.

Package: libosmo-e1d-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends},
	 libosmo-e1d1 (= ${binary:Version}),
	 libosmocore-dev,
Description: Development headers for the osmo-e1d library.

Package: libosmo-octoi1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Library for the Osmocom Community TDMoIP network.

Package: libosmo-octoi-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends},
	 libosmo-octoi1 (= ${binary:Version}),
	 libosmocore-dev,
Description: Development headers for the Osmocom Community TDMoIP library.
